.header {

    background: white;
    height: 80px;

}

.header__inner {
    margin: 0 auto;
    padding: 20px 15px;
    display: flex;
    text-align: center;
}

.header__logo {
    font-family: 'Noto Serif JP', serif;
    font-family: 'Playfair Display', serif;
    margin: 0 auto;
    /* padding-left: 100px;ここだけズレた */
    color: #CD853F;
}


.confirm-form__content {
    background: white;
    margin: 0 auto;
    padding: 10px;

}

.confirm-form__heading {
    font-family: 'Noto Serif JP', serif;
    font-family: 'Playfair Display', serif;
    text-align: center;
    color: #CD853F;
}

.form {
    margin: 0 auto;
    width: 70%;
}

.confirm-table {
    border: 1px solid #ddd;
    text-align: left;
}

.confirm-table__inner {
    width: 100%;
}

.confirm-table__header {
    padding: 15px;
    width: 20%;
    border-bottom: 1px solid #ddd;
    background-color: burlywood;
    font-weight: bold;
}

.confirm-table__text {
    padding: 15px;
    border-bottom: 1px solid #ddd;
}

.confirm-table__text input {
    width: 100%;
    outline: none;
    border: none;
}

.confirm-table__row:last-child .confirm-table__header,
.confirm-table__row:last-child .confirm-table__text {
    border-bottom-width: 0;
}

.form__button {
    margin-top: 30px;
    text-align: center;
}

.form__button-submit {
    padding: 10px;
    width: 15%;
    height: 50px;
    border: none;
    border-radius: 3px;
    background: #000;
    color: #fff;
    cursor: pointer;
}

.form__button-correct {
    padding: 10px;
    width: 15%;
    height: 50px;
    border: none;
    border-radius: 3px;
    background: lightgray;
    color: black;
    cursor: pointer;
}