.header {

    background: white;
    height: 80px;

}

.header__inner {
    margin: 0 auto;
    padding: 20px 15px;
    display: flex;
    text-align: center;
}

.header__logo {
    font-family: 'Noto Serif JP', serif;
    font-family: 'Playfair Display', serif;
    margin: 0 auto;
    padding-left: 100px;
    color: #CD853F;
}


.header__btn--right {
    font-family: 'Noto Serif JP', serif;
    font-family: 'Playfair Display', serif;
    border: solid 2px #FAF0E6;
    padding: 5px 20px;
    background: #F5F5F5;
    text-decoration: none;
    color: #FFDEAD;
}

.register-form__content {
    background: #FAF0E6;
    margin: 0 auto;
    padding: 10px;
    height: 800px;
}

.register-form__heading {
    font-family: 'Noto Serif JP', serif;
    font-family: 'Playfair Display', serif;
    text-align: center;
    color: #CD853F;
}

.form {
    margin: 0 auto;
    width: 45vw;
    height: 600px;
    text-align: center;
    background: white;
    padding: 5px;
}

.form__label--item {
    text-align: left;
    padding-left: 115px;
    font-size: 20px;
    color: #CD853F;
}


.form__error {
    height: 20px;
    color: #ff0000;
    text-align: left;
}

.form__input--text input {
    padding: 5px;
    width: 400px;
    border: 1px solid #ddd;
    border-radius: 3px;
    height: 50px;
    font-family: 'Noto Serif JP', serif;
    font-family: 'Playfair Display', serif;
    background: #F5F5F5;
    color: #C0C0C0;
}



.form__button {
    margin-top: 30px;
}

.form__button-submit {
    padding: 10px;
    width: 20%;
    height: 50px;
    border: none;
    border-radius: 3px;
    background: #8B4513;
    color: #fff;
    cursor: pointer;
}